:root{
    --clr-neutral-000: hsl(0, 0%, 100%);
    --clr-primary-100: hsl(215, 51%, 70%);
    --clr-primary-150: hsla(178, 100%, 50%, 0.455);
    --clr-primary-200: hsl(178, 100%, 50%);

    --clr-neutral-400: hsl(217, 54%, 11%);
    --clr-neutral-500: hsl(216, 50%, 16%);
    --clr-neutral-600: hsl(215, 32%, 27%);


    --fw-1: 300;
    --fw-2: 400;
    --fw-3: 600;

    --fs-1: 1.125rem;
    --fs-2: 1.5rem;
    --fs-3: 1.75;

    --bdr-1: 1rem;
    --bdr-2: 2rem;
    


}
*::before,
*::after {
  box-sizing: border-box;
}
* {
    margin: 0;
   
  }
hr {
    color: var(--clr-neutral-600)
}
img,
svg {
  display: block;
  max-width: 100%;
  
}
p{
    font-size: var(--fs-1);
    
}
  body {
    display: grid;
    background-color: var(--clr-neutral-400);
    font-size: var(--fs-1);
    color: var(--clr-primary-100);
    place-items: center;
    height: 100vh;
    font-family: 'Outfit', sans-serif;

  }
  
.nft-container {
    background-color: var(--clr-neutral-500);
    display: grid;
    gap: 1rem;
    padding: 2rem;
    border-radius: var(--bdr-2);
    width: 50%;
    margin: auto;
    line-height: 1.5;
    
}

.nft-container img {
    border-radius: .6rem;
}
.flex-group-1 {
    display: flex;
    justify-content: space-between;
    place-items: center;
}
.flex-group-2 {
    display: flex;

    place-items: center;
}

.avatar {
    width: 2rem;
 
   
} 
.creator {
    padding-left: 1.5rem;
}
span, h1 {
    color: var(--clr-neutral-000);
}
.price-in-eth {
    
    font-weight: var(--fw-3);
    color: var(--clr-primary-200);
}
.price-in-eth, .duration {
    padding-left: .5rem;
    cursor: pointer;
}
span:hover, .nft-title:hover {
color: var(--clr-primary-200);
cursor: pointer;
}

  .equilibrium {
    position: relative;
    cursor: pointer;
    width: 100%;
    border-radius: 1rem;
    background-color: hsla(178, 100%, 50%, 0.757);
  }
  
  .image {
    opacity: 1;
    display: block;
    width: 100%;
    height: auto;
    transition: .5s ease;
    backface-visibility: hidden;
  }
  
  .view-hover {
    transition: .5s ease;
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-align: center;
  }
  
  .equilibrium:hover .image {
    opacity: 0.3;
  }
  
  .equilibrium:hover .view-hover {
    opacity: 1;
  }
  
  .view {
    
    color: white;
    font-size: 16px;
    padding: 16px 32px;
  }
  .dd3 {
    
    border: solid 2px white;
    border-radius: 50%;
    aspect-ratio: 1 / 1;
  }




  @media only screen and (max-width: 567px) {
    /* CSS rules to apply when the screen width is 375px or less */
    html, body {
      margin: 0; 
      width: 100%; 
      padding: 0; 
    }
   
    .nft-container{
     width: 70%;
     
      
      
      
        
    }
    h1, p, h2 {
      font-size: 1.2rem; 
    }
    
  }